.center {
  margin: auto;
  width: 68%;
  border: 3px;
  padding: 10px;
  text-align: center;
}
.one
{
  background-color: blue;
margin-top: 10px;
margin-bottom: 10px;
}
.two{
  background-color: lightblue;
  margin-top: 10px;
  margin-bottom: 10px;
}
.three{
  background-color: blue;
  margin-top: 10px;
  margin-bottom: 10px;
}
.required:after {
    content:" *";
    color: red;
  }
.pad{
padding-left: 17px;
padding-right: 16px;
}
.mar{
  margin-right: 10px;
}
