.ashu{
  color: green;
}
.ashu1:hover{
  background-color: ;

}
.dropdown:hover{
  background-color: white;
}
.move{
  margin-left: 780px;
}
.foot{
  text-align: center;
  background-color: lightblue;
  padding-top: 30px;
  padding-bottom: 30px;
}
.size{
  width: 50%;
}
