.center {
  margin: auto;
  width: 68%;
  border: 3px;
  padding: 10px;
  text-align: center;
  color: purple;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
  background-color: white;
  margin-right: 10px;
  margin-left: 205px;

}
.flex-child1 {
    flex: 1;
  background-color: white;
  margin-left: 10px;
  margin-right: 205px;

}
.fc{
  color:purple;
}
